@font-face {
    font-family: 'AstroGadget';
    src: url('fonts/AstroGadget.eot');
    src: url('fonts/AstroGadget.eot') format('embedded-opentype'),
         url('fonts/AstroGadget.woff2') format('woff2'),
         url('fonts/AstroGadget.woff') format('woff'),
         url('fonts/AstroGadget.ttf') format('truetype'),
         url('fonts/AstroGadget.svg#AstroGadget') format('svg');
}

.mono-font {
    font-family: monospace;
}

.alchemy {
    font-family: 'AstroGadget';
}
