//bootstrap
@each $color, $value in $theme-colors {
    .bg-#{$color} {
        color: $white;
    }
}

.card {
    padding: 0;

    .card-body {
        padding-left: .1rem;
        padding-right: .1rem;
    }
}

.p-default {
    margin-top: -$nav-h !important;
    padding-top: $nav-h !important;
}

.navbar-collapse, .dropdown-menu {
    background-color: $dark;
}

// default elements
nav {
    height: $nav-h;
}

@media (min-width: map-get($container-max-widths, "lg")) {
    .container {
        background-color: #fff;
        min-height: 100vh;
    }
    body {
        background-image: url(images/bg.png);
        background-repeat: space;
        background-size: 200px 200px;
    }
}

a {
    color: black;

    &:hover {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
}

footer {
    position: fixed;
    bottom: 0;
}

td {
    vertical-align: middle !important;
}

//classes
.carousel-indicators {
    position: relative;
}

@media (max-width: map-get($container-max-widths, "sm")) {
    .smallForSmall {
        font-size: 80%;
    }
}
