//bootstrap
@each $color, $value in $theme-colors {
    .bg-#{$color} {
        color: $white;
    }
}

.card {
    padding: 0;

    .card-body {
        padding-left: .1rem;
        padding-right: .1rem;
    }
}

.right{
    right: 0;
}

a {
    color: black;

    &:hover, &:active, &.active {
        color: black;
        text-decoration: none;
    }
}

//classes
.carousel-indicators {
    position: relative;
    margin: 0;
    li{
        border-radius: 50%;
    }
}

@media (max-width: map-get($container-max-widths, "sm")) {
    .smallForSmall {
        font-size: 80%;
    }
}

.pointer{
    cursor: pointer;
}

.big-badge{
    font-size: 100%;
    min-width: 20px;
}

.fw-40{
    width: 40px;
}

.mw-160{
    min-width: 160px;
}
.mw-260{
    min-width: 260px;
}

form{
    .row{
        margin-bottom: 1rem;
    }
}

.circle{
    border-radius: 50%;
}

.popover{
    border: 2px solid black;
}

select.form-control {
    &::after {
        content: ">";
    }
    display: none;
}