//bootstrap
@each $color, $value in $theme-colors {
    .bg-#{$color} {
        color: $white;
    }
}

.card {
    padding: 0;

    .card-body {
        padding-left: .1rem;
        padding-right: .1rem;
    }
}

.right{
    right: 0;
}

a {
    color: black;

    &:hover, &:active, &.active {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
}

//classes
.carousel-indicators {
    position: relative;
    margin: 0;
    li{
        border-radius: 50%;
    }
}

@media (max-width: map-get($container-max-widths, "sm")) {
    .smallForSmall {
        font-size: 80%;
    }
}

.pointer{
    cursor: pointer;
}

.big-badge{
    font-size: 100%;
}