table {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.px-3 {
    padding-left: 1%;
    padding-right: 1%;
}

.pxt-4 {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

.px-4 {
    padding-left: 13px;
    padding-right: 13px;
}

.pr-3 {
    padding-right: 1.5rem;
}

.bb {
    border-bottom: 1px solid;
    border-radius: 10px;
}

.bg {
    border-bottom: 1px solid gray;
    line-height: 32px;
}

.card {
    border-top: 1px solid !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.carded {
    border-collapse: collapse;
}

    .carded tr td .b {
        border: solid 1px black;
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .carded tr td:nth-child(2) .b {
        margin-left: -3px;
        margin-right: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }


    .carded tr td:nth-child(1) .b {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.w-33 {
    width: 30%;
}

.right {
    float: right;
}

.circle {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-radius: 30%;
    width: 70%;
    height: 70px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: -1px;
    line-height: 70px;
    font-size: 2rem;
}

.card > div {
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
}

html {
    line-height: 20px;
}


.r-45 {
    -webkit-transform: translate(-25%, -50%) rotate(-45deg);
    border-bottom: 1px solid gray;
}

body {
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Balsamiq Sans';
}