.p-default {
    margin-top: -$nav-h !important;
    padding-top: $nav-h !important;
}

.navbar-collapse, .dropdown-menu, nav {
    background-color: #213;
}

// default elements
nav {
    height: $nav-h;
}

.flex-1{
    flex: 1;
}

.navbar-nav {
    .nav-link {
        padding: .5rem;
    }

    .dropdown-menu {
        border-color: #314;
        background-color: #314;
    }
}

.back {
    filter: hue-rotate(40deg);
    opacity: .05;
    min-height: 100vh;
    width: 450px;
    background-image: url(images/bg.png);
    background-repeat: repeat;
    background-size: 150px 150px;
    position: fixed;
    z-index: -1;
}

.container {
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

.border-big {
    border: solid 3px;
}

.card-footer:hover {
    background-color: #425;

    a {
        color: white;
    }
}

.dropdown-menu {
    a:active, a:focus, a:hover {
        background-color: #425;
    }
}

.dropdown-light {
    a {
        color: black;
        background-color: $gray-100;

        &:hover, &:active {
            color: black;
            background-color: $gray-400;
        }
    }
}

.separate:not(:last-child)::after {
    content: ", ";
}

@include media-breakpoint-down(md) {
    #mainNavBar {
        position: fixed;
        top: $nav-h;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;

        .dropdown-menu{
            padding: 0;
            margin: 0;
        }

        > *:first-child {
            height: 100vh;
        }

        .dont-hide{
            .dropdown-menu{
                display: block;
            }
        }

        a{
            text-align: center;
        }
    }
}

.mx-n1 {
    margin-left: -5px;
    margin-right: -5px;
}

.z-2{
    z-index: 2;
}