.p-default {
    margin-top: -$nav-h !important;
    padding-top: $nav-h !important;
}

.navbar-collapse, .dropdown-menu {
    background-color: $dark;
}

// default elements
nav {
    height: $nav-h;
}

.navbar-dark, .navbar-collapse{
    background-color: #215;
}

.back {
    filter: hue-rotate(60deg);
    opacity: .9;
    min-height: 100vh;
    width: 200px;
    background-image: url(images/bg.png);
    background-repeat: repeat-y;
    background-size: 200px 200px;
    position: fixed;
    z-index: -1;
}

.container{
    min-height: 100vh;
}

footer {
    position: fixed;
    bottom: 0;
}

.border-big{
    border: solid 3px;
}

.card-footer:hover{
    background-color: $gray-700;
    a{
        color: white;
    }
}

.dropdown-menu {
    a:hover {
        background-color: $gray-700;
    }
}

.dropdown-light {
    a {
        color: black;
        background-color: $gray-100;

        &:hover, &:active {
            color: black;
            background-color: $gray-400;
        }
    }
}
.separate:not(:last-child)::after{
    content: ", ";
}