//colors
$warning: #a50;
$success: #0a5;
$danger: #a22;
$primary: #50a;
$info: #05a;
$carousel-control-color: #000;
$carousel-indicator-active-bg: #000;
$carousel-control-opacity: .7;

//sizes
$carousel-control-icon-width: 2rem;
$carousel-control-width: 30%;
$nav-h: 60px;
$nav-tabs-border-width: 0;
$carousel-indicator-height: 30px;
$card-border-radius: 2rem;

$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1000px ) !default;