@model Pnprpg.DomainService.Models.AbilityModel
<div class="py-2 px-lg-3 px-2 text-light" style="background-color: #@Model.Color">
    @Model.Name
    <span class="float-right bg-light badge big-badge font-monospace fw-2-chars" style="color: #@Model.Color">
        @Model.Level
    </span>
</div>