@page
@using Pnprpg.DomainService.Models
@model Pnprpg.WebCore.Pages.Editor.Races.EditModel
@{
    ViewData["Title"] = Model.Input.Id == 0 ? "Новая раса" : Model.Input.Name;
}

<form class="col-12 mx-auto" method="post">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.Input.Id)
    <div class="row">
        <label class="col-3 col-form-label text-left">Название</label>
        <div class="col-12">
            @Html.TextBoxFor(x => x.Input.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Описание</label>
        <div class="col-12 text-left">
            @Html.TextAreaFor(x => x.Input.Description, new { @class = "form-control html-editor" })
        </div>
    </div>

    <button type="button" class="btn btn-outline-primary clone-btn"
            data-container="#hr" data-style="prepend" data-target=".default-bonus">
        Добавить бонус
    </button>
    <button type="button" class="btn btn-outline-primary clone-btn"
            data-container="#hr" data-style="prepend" data-target=".ability-bonus">
        Добавить характеристику
    </button>

    @if (Model.Bonuses != null)
    {
        var i = 0;
        foreach (var bonus in Model.Bonuses.Select(model => new FormQueryItem(Model.Bonuses, i++)))
        {
            await Html.RenderPartialAsync("Editor/Selects/_BonusSelect", bonus);
        }
    }
    @if (Model.Abilities != null)
    {
        var j = 0;
        foreach (var ability in Model.Abilities.Select(model => new NumericFormQueryItem(Model.Abilities, j++, model.Value)))
        {
            await Html.RenderPartialAsync("Editor/Selects/_AbilitySelect", ability);
        }
    }
    <hr id="hr" />
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>

<div class="d-none default-bonus">
    @{
        var defaultModel = new FormQueryItem(Model.Bonuses);
        await Html.RenderPartialAsync("Editor/Selects/_BonusSelect", defaultModel);
    }
</div>
<div class="d-none ability-bonus">
    @{
        var abilityModel = new NumericFormQueryItem(Model.Abilities);
        await Html.RenderPartialAsync("Editor/Selects/_AbilitySelect", abilityModel);
    }
</div>