@page
@model Pnprpg.WebCore.Pages.Editor.Races.IndexModel
@{
    ViewData["Title"] = "Редактор рас";
}

<div class="col-12 mb-3">
    <a class="btn btn-success" asp-page="@SitePages.EditorRacesEdit">Добавить новую</a>
</div>

<div class="mvc-grid" data-source-url="@Url.Page(SitePages.EditorRacesIndex, "Grid")"></div>

<form asp-page-handler="Delete" id="deleteForm">
    @Html.Hidden("ModelId")
</form>