@page
@using Pnprpg.DomainService.Models
@model IndexModel
@{
    ViewData["Title"] = "Алхимия";
}
<form id="formResult" method="get" asp-page="@SitePages.AlchemyIndex" asp-page-handler="Result" data-ajax="true" data-ajax-begin="MainJs.toggleLoading"
      data-ajax-success="MainJs.toggleLoading" class="col-lg-8 col-12 mt-md-2" data-ajax-update="#alchemyResult">
    <div class="row">
        <label class="col-sm-2 col-form-label">Реагент</label>
        <div class="col">
            @Html.DropDownList(nameof(ReactionModel.Reagent), Model.Reagents, new { @class = "form-select" })
        </div>
        <label class="col-sm-2 col-form-label">Процесс</label>
        <div class="col">
            @Html.DropDownList(nameof(ReactionModel.Process), Model.Processes, new { @class = "form-select" })
        </div>
    </div>
</form>
<form id="formRandom" method="get" asp-page="@SitePages.AlchemyIndex" asp-page-handler="Random" data-ajax="true" data-ajax-begin="MainJs.toggleLoading"
      data-ajax-success="MainJs.toggleLoading" data-ajax-update="#alchemyResult">
</form>
<div class="col-12 my-2">
    <button type="submit" class="btn btn-success my-1 mw-160" form="formResult">
        Сотворить
    </button>
    <button  type="submit" class="btn btn-primary my-1 mw-160" form="formRandom">
        Случайное зелье
    </button>
</div>
<div class="col-12" id="alchemyResult"></div>