@model Pnprpg.DomainService.Models.Abilities.AbilityModel
<div class="col py-2 px-sm-3 text-light" style="background-color: #@Model.Color">
    @Model.Name
    <span class="float-right font-weight-bold bg-light badge big-badge" style="color: #@Model.Color">
        @Model.Level
    </span>
</div>