@page
@model Pnprpg.WebCore.Pages.Sheets.IndexModel
@{
    ViewData["Title"] = "Листы персонажа";
}

<div>
    <a class="btn btn-info mw-260 mt-3" asp-page="@SitePages.SharedPdfHeroSheet" target="_blank">
        Основной лист персонажа
    </a>
    <br />
    <a class="btn btn-info mw-260 mt-3" asp-page="@SitePages.SharedPdfMagicSheet" target="_blank">
        Лист заклинаний
    </a>
</div>