@* ReSharper disable MarkupTextTypo *@
<h3>Ведение боя</h3>

<p>Во время боя все </p>

<h5>Типы урона</h5>
<table>
    <tr><th>Физический</th><th>Магический</th></tr>
    <tr><td>Колющий</td><td>Огненный</td></tr>
    <tr><td>Режущий</td><td>Ледяной</td></tr>
    <tr><td>Дробящий</td><td>Электрический</td></tr>
    <tr><td>Яд</td><td>Психический</td></tr>
    <tr><td>Кислотный</td><td>Звуковой</td></tr>
    <tr><td>Силовой</td><td>Некротический</td></tr>
</table>

<h5>Защитные действия</h5>

<p>
    Один раз за раунд любое существо может среагировать на любую атаку перед броском на урон. Защищающийся выбирает тип действия
    в зависимости от ситауции. Уклонение требует пространство для манёвра, а предсказание возможно только если атакующий виден.
    Защитные действия работают только на атаки ближнего боя.
</p>

<table>
    <tr><th>Тип</th><th>Контратака</th><th>Блок</th><th>Уклонение</th><th>Предсказание</th></tr>
    <tr>
        <th>Атрибут</th>
        <td>Сила</td>
        <td>Выносливость</td>
        <td>Ловкость</td>
        <td>Интеллект</td>
    </tr>
    <tr>
        <th>Действия</th>
        <td>Существо получает полный урон, но наносит мгновенный ответный удар</td>
        <td>Броня существа удваивается при подсчёте урона</td>
        <td>Существо перемещается игнорируя весь урон</td>
        <td>Существо предсказывает поведение атакующего, защищая слабые места и получая половину урона</td>
    </tr>
</table>