 @model IQueryable<Pnprpg.DomainService.Models.Perks.PerkViewModel>

<h5>Способности</h5>
<table class="table table-bordered">
    <tr>
        <th>Уровень</th>
        <th class="w-20">Название</th>
        <th class="w-25">Требования</th>
        <th class="w-50">Эффект</th>
    </tr>
    @foreach (var perk in Model)
    {
        <tr>
            <td class="text-center">@perk.Level</td>
            <td>@perk.Name</td>
            <td>
                @foreach (var r in perk.RequirementsForPerks.OrderBy(x => x.Type))
                {
                    @r.Specify().ToString()
                }
                @if (!perk.RequirementsForPerks.Any())
                {
                    @:Нет
                }
            </td>
            <td>@perk.Description</td>
        </tr>
    }
</table>