@model List<Boot.Models.JsonModels.Race>
<h5>Расы</h5>
<p>Раса персонажа определяется наличием или отсутствием карт крови. 
    Каждый персонаж по умолчанию без карт является человеком, но может выбрать любую из 8 рас, чтобы получить их преимущества и недостатки. </p>
<table class="table-bordered">
    <tr>
        <th>Название</th>
        <th>Плюсы</th>
        <th>Минусы</th>
    </tr>
    @foreach(var race in Model)
    {
<tr>
    <td>@race.Name</td>
    @if (race.Effects != null)
    {
        <td>
            @foreach (var boost in race.Effects.Where(x => x.Type == Boot.Enums.EffectType.Boost))
            {
                @:+2 @boost.Stat.Name
            }
        </td>
        <td>
            @foreach (var boost in race.Effects.Where(x => x.Type == Boot.Enums.EffectType.Weaken))
            {
                @:-2 @boost.Stat.Name
            }
        </td>
    }
    else
    {
        <td colspan="2" class="text-center">-</td>
    }
</tr>
    }
</table>