@model List<Pnprpg.DomainService.Models.RaceViewModel>
<h5>Расы</h5>
<p>
    Раса персонажа определяется наличием или отсутствием карт крови.
    Каждый персонаж по умолчанию без карт является человеком, но может выбрать любую из 8 рас, чтобы получить их преимущества и недостатки.
</p>
<table class="table-bordered">
    <tr>
        <th>Название</th>
        <th>Плюсы</th>
        <th>Минусы</th>
    </tr>
    @foreach (var race in Model)
    {
        <tr>
            <td>@race.Name</td>
            @if (race.Effects?.Any() ?? false)
            {
                <td>
                    @foreach (var effect in race.Effects.Where(x => x.Value > 0))
                    {
                        @effect.ToString()
                    }
                </td>
                <td>
                    @foreach (var effect in race.Effects.Where(x => x.Value < 0))
                    {
                        @effect.ToString()
                    }
                </td>
            }
            else
            {
                <td colspan="2" class="text-center">Нет</td>
            }
        </tr>
    }
</table>