@model IQueryable<Pnprpg.DomainService.Models.RaceViewModel>
<h5>Расы</h5>
<p>
    В волшебном мире бок о бок соседствуют существа разных размеров, цветов и мировозрений. Существа одной расы обладают общими физиологическими особенностями,
    культурой и зачастую идеологией. Но это совсем не значит, что все эльфы должны быть высокомерными, а орки - грубыми. Стоит помнить, что не
    каждая разумная раса дотупна игроку. Вы конечно можете играть за собаку или крысу, но не гарантируем вам, что это будет увлекательно.
</p>

@foreach (var race in Model)
{
    <h6>@race.Name</h6>
    @Html.Raw(race.Description)
    foreach (var bonus in race.Bonuses)
    {
        <p>
            <b>@bonus.Name</b><br/>
            @bonus.Description
        </p>
    }
}