@using Pnprpg.DomainService.Helpers
@model IQueryable<Pnprpg.DomainService.Models.SkillViewModel>
@foreach (var skill in Model)
{
    <div class="text-right normal bb">
        @StringHelper.FormatToSentence(skill.Name)
        <b class="text-center">
            (@(skill.Difficulty == 0 ? $"{skill.Ability.Id}" : $"{skill.Ability.Symbol}-{skill.Difficulty}"))
        </b>
    </div>
}