@model IQueryable<Pnprpg.DomainService.Models.AbilityDescriptionModel>

<h5>Атрибуты</h5>

<p>
    Это основные параметры персонажа, которые определяют его личность.
    Они меняются с уровнем, от употребления различных веществ и от ношения особого снаряжения.
</p>

<table class="table table-bordered">
    <tr>
        <th>Название</th>
        <th>Значение</th>
        <th>Влияние</th>
    </tr>
    @foreach (var stat in Model)
    {
        <tr>
            <td>@stat.Symbol - @stat.Name</td>
            <td>@stat.Description</td>
            <td>@stat.Influence</td>
        </tr>
    }
</table>
<p>
    Каждый атрибут имеет значение от 1 до 20 и изначально равен 8.
    Игрок имеет также 8 свободных очков, которые он может распределить между атрибутами, но не более 4 в один.
    Дальнейшие особенности могут дополнительно снизить или повысить атрибуты.
</p>
<h5>Характеристики</h5>
<div>
    <b>Урон</b> – определяется типом оружия, 1 уровень – 1 кубик урона
</div>
<div>
    <b>Урон без оружия</b> = (Сила + 5)/10
</div>
<div>
    <b>Грузоподъёмность</b> = Сила * Выносливость / 10
</div>
<div>
    <b>Броня</b> – определяется надетым снаряжением и базовой защитой.
    Едина для всего тела (защита от ударов по ногам такая же как от выстрелов в голову)
</div>
<div>
    <b>Базовая защита</b> = (Выносливость + 5) / 10
</div>
<div>
    <b>Мана</b> = Интеллект + Уровень - 4
</div>
<div>
    <b>Запас сил</b> = Интеллект + Уровень - 4
</div>