@{
    @Styles.Render("~/Content/book")
    Layout = "~/Views/Shared/_LayoutIntro.cshtml";
}
<div class="h1">Книга правил для настольных ролевых игр на основе системы GURPS</div>
<br />
<h3>Персонаж</h3>
<p>
    В настольной ролевой игре вы создаёте уникального персонажа со своими преимуществами и недостатками.
    Помните, что это командная игра и некоторые навыки могут бесполезными или наоборот очень важными для команды в конкретный момент.
</p>
@{
Html.RenderAction("Stats");
<div class="break"></div>
Html.RenderAction("Races");
Html.RenderAction("Traits");
<div class="break"></div>
Html.RenderAction("Skills");
<div class="break"></div>
Html.RenderAction("Perks");
<div class="break"></div>
Html.RenderAction("Spells");
<div class="break"></div>
Html.RenderAction("Alchemy");
}