@{
    Layout = "~/Views/Shared/_LayoutIntro.cshtml";
    @* ReSharper disable MarkupTextTypo *@
}
<style>
    @{ Html.RenderAction("BookStyle", "Book");}
</style>

<div style="text-align: center; padding-top: 2rem;">
    <div style="font-size: 2.4rem; font-weight: bold">
        Система генерации настольных приключений
        <br /><br />Книга игрока
    </div>
    <h3 style="padding-top: 2rem">Оглавление</h3>
</div>

<br />
<div style="font-size: 20px">
    <a href="#b1">Расы <span style="float: right">2</span></a>
    <a href="#b2">Классы <span style="float: right">5</span></a>
</div>

<div class="break"></div>

<div style="text-align: center">
    <div style="font-size: 2rem; font-weight: bold">Часть 1</div>
    <h3>
        Создание персонажа
    </h3>
</div>
<p>
    В настольной ролевой игре вы создаёте уникального персонажа со своими преимуществами и недостатками. История определяет его принципы и ориентиры,
    а атрибуты - способности к решению определённых проблем. Данная система пред- назначена в первую очередь для командной игры, где игроки персонажей по очереди
    проявляют себя в разных ситуациях. И там, где один бы не справился, ему приходит на помощь другой.
</p>
<p>
    Первым этапом создания персонажа явялется выбор его расы.
</p>

<div id="b1">
    @{ Html.RenderAction("Races");}
    <div class="break"></div>
</div>

<div id="b2">
    @{Html.RenderAction("Branches"); }
    <div class="break"></div>
</div>


<div id="b4">
    @{ Html.RenderAction("Abilities");}
</div>

@{
    Html.RenderAction("Traits");
    <div class="break"></div>
    Html.RenderAction("Skills");
    <div class="break"></div>
    Html.RenderAction("Spells");
    <div class="break"></div>
    Html.RenderAction("Alchemy");
    <div class="break"></div>
    Html.RenderPartial("_Fight");
}
