@{
    Layout = "~/Views/Shared/_LayoutIntro.cshtml";
    ViewBag.Title = "Книга игрока";
    @* ReSharper disable MarkupTextTypo *@
}
<style>
    @{ Html.RenderAction("BookStyle", "Book");}
    @if (Request.IsLocal)
    {
        @:body {font-family: 'Roboto Slab', serif;} .h, h1, h2, h3, h4, h5, h6 {font-family: 'Balsamiq Sans';}
    }
</style>

<div class="h" style="text-align: center; padding-top: 10rem; text-transform: uppercase">
    <div style="font-size: 3rem; font-weight: bold;">
        Система генерации настольных приключений
        <br /><br /><br /><br />Книга игрока
    </div>
    <div class="break"></div>
    <h1 style="padding-top: 2rem">Оглавление</h1>
</div>

<br />
<div style="font-size: 20px">
    <a href="#p1" style="font-weight: bold">Создание персонажа <span style="float: right">2</span></a>
    <a href="#b1">Расы <span style="float: right">2</span></a>
    <a href="#b2">Классы <span style="float: right">5</span></a>
    <a href="#p2" style="font-weight: bold">Магия <span style="float: right">2</span></a>
    <a href="#p3" style="font-weight: bold">Алхимия <span style="float: right">2</span></a>
    <a href="#p4" style="font-weight: bold">Ведение боя <span style="float: right">2</span></a>
</div>

<div class="break"></div>

<div style="text-align: center">
    <h1 id="p1">Часть 1 Создание персонажа</h1>
</div>
<p>
    В настольной ролевой игре вы создаёте уникального персонажа со своими преимуществами и недостатками. История определяет его принципы и ориентиры,
    а атрибуты - способности к решению определённых проблем. Данная система предназначена в первую очередь для командной игры, где игроки персонажей по очереди
    проявляют себя в разных ситуациях. И там, где один бы не справился, ему приходит на помощь другой.
</p>
<p>
    Первым этапом создания персонажа явялется выбор его расы.
</p>

@{
    Html.RenderAction("Races");
    <div class="break"></div>
    Html.RenderAction("Branches");
    <div class="break"></div>
    Html.RenderAction("Abilities");
    <div class="break"></div>
    Html.RenderAction("Traits");
    <div class="break"></div>
    Html.RenderAction("Skills");
    <div class="break"></div>
    Html.RenderAction("Spells");
    <div class="break"></div>
    Html.RenderAction("Alchemy");
    <div class="break"></div>
    Html.RenderPartial("_Fight");
}
