@{
    @Styles.Render("~/Content/book")
    Layout = "~/Views/Shared/_LayoutIntro.cshtml";
}

<style>
    table{
        width: 100%;
    }

    h2, h3, h4, h5, h6 {
        margin: 1rem;
    }

    h3 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    .h1 {
        font-size: 30px;
        text-align: center;
    }

    .break {
        page-break-after: always;
    }

    td, th {
        padding: 0 .5rem;
    }

    p {
        text-align: justify;
        text-indent: 2rem;
    }

    .w-10 {
        width: 10%;
    }

    .w-20 {
        width: 20%;
    }

    .w-40 {
        width: 40%;
    }
</style>

<div class="h1 text-center">Книга базовых правил для настольных ролевых игр на основе системы GURPS</div>
<br />
<h3>Персонаж</h3>
<p>
    В настольной ролевой игре вы создаёте уникального персонажа со своими преимуществами и недостатками.
    Помните, что это командная игра и некоторые навыки могут бесполезными или наоборот очень важными для команды в конкретный момент.
</p>
@{
    Html.RenderAction("Abilities");
    <div class="break"></div>
    Html.RenderAction("Races");
    Html.RenderAction("Traits");
    <div class="break"></div>
    Html.RenderAction("Skills");
    <div class="break"></div>
    Html.RenderAction("Perks");
    <div class="break"></div>
    Html.RenderAction("Spells");
    <div class="break"></div>
    Html.RenderAction("Alchemy");
}