@using Microsoft.AspNetCore.Html
@using NonFactors.Mvc.Grid
@using Pnprpg.DomainService.Helpers
@using Pnprpg.DomainService.Models
@using Pnprpg.WebCore.Helpers
@model IQueryable<BonusViewModel>
@(Html.Grid(Model).Build(columns =>
{
    columns.Add(x => x.Type.Description()).Titled("Тип");
    columns.Add(x => x.Usages).Titled("Использований");
    columns.Add(x => x.Name).Titled("Название");
    columns.Add(x => x.Description).Titled("Описание").Css("w-50");
    columns.Add(x => x).RenderedAs(Actions).Css("no-wrap");
}).Empty("No data found").Pageable(pager =>
{
    pager.RowsPerPage = 12;
}).Css("table table-responsive"))
@{
    IHtmlContent Actions(BonusViewModel x) => PartialHelper.Body(
    @<text>
        <a href="@Url.CustomPage(SitePages.MajorEditorBonusesEdit, new{x.Id})" class="btn btn-info fas fa-pen"></a>
        <button class="btn confirm-btn btn-danger fas fa-trash" data-form="deleteForm" data-field="ModelId"
                data-value="@x.Id" data-text="Бонус @x.Name будет удалён"></button>
    </text>);
}