@using Pnprpg.DomainService.Models
@model UpgradeableGroup<AbilityModel>
@foreach(var ability in Model.List)
{
    <div class="col-md-3 col-6 p-0">
        @{
            await Html.RenderPartialAsync("Stats/PrimaryDetails", ability);
        }
    </div>
}