@model Pnprpg.WebCore.Pages.HeroGen.SecondaryDetails
<div class="col-md-3 col-6 p-0 border">
    <div class="py-2 px-lg-3 px-2 bg-light text-dark">
        @Model.Name
        <span class="float-right font-weight-bold badge big-badge fw-40" style="background-color: #@Model.Color">
            @Model.Value
        </span>
    </div>
</div>