@model List<Pnprpg.DomainService.Models.TraitModel>
<h5>Особенности</h5>
<p>
    Это те черты, которые делают персонажа одновременно лучше в одном, но хуже в другом.
    Умелое комбинирование навыков и особенностей поможет усилить плюсы и нивелировать минусы.
</p>
<table class="table-bordered">
    <tr>
        <th>Название</th>
        <th>Плюсы</th>
        <th>Минусы</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            @if (item.Effects != null)
            {
                var merge = item.Effects.Count == 1;
                <td>
                    @foreach (var effect in item.Effects.Where(x => x.Value >= 0))
                    {
                        @effect.ToString()
                        <br />
                    }
                </td>
                <td>
                    @foreach (var effect in item.Effects.Where(x => x.Value <= 0))
                    {
                        @effect.ToString()
                        <br />
                    }
                </td>
            }
            else
            {
                <td colspan="2">-</td>
            }
        </tr>
    }
</table>
<div class="break"></div>