@page
@model NotFound
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">404</h1>

<div class="card card-body p-3 border-danger">При попытке отыскать страницу, ты понимаешь ,что хитрые гоблины пробрались на сервер и украли её. Никто не знает, 
    была ли она ценной или нет. Гоблины не оставили никаких следов своего преступления. Стражи имперского города молча отводят взгляд, когда
    ты пытаешься распросить их о случившемся. Возможно и правда не стоит в этом разбираться, просто возвращайся домой.</div>