@model IQueryable<Pnprpg.DomainService.Models.Users.UserEditModel>
@{
    ViewBag.Title = "Настройка ролей";
}

@using (Html.BeginForm("Users", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table table-striped">
        @Html.EditorForModel()
    </table>
    <input class="btn btn-success" type="submit" value="Сохранить" />
}