@page
@using Pnprpg.DomainService.Enums
@using Pnprpg.DomainService.Helpers
@model IndexModel
@{
    ViewData["HideTitle"] = true;
    ViewData["Title"] = $"TAGS {Model.Version}";
}

<div class="display-6 m-3 my-5">Table Adventures Generation System @ViewData["Version"]</div>

<div class="row my-3 justify-content-center">
    @foreach (var major in Model.Majors)
    {
        <div class="col-md-3 col-6">
            <a href="/@(((MajorType)major.Id).Description())" class="link-light text-decoration-none p-3 btn w-100" style="background-color: #@major.Color">
                @major.Name
            </a>
        </div>
    }
</div>

<div class="mx-2">
    @{
        await Html.RenderPartialAsync(SitePages.News_Details, Model.LatestNews);
    }
</div>

<div class="py-3">
    <a asp-page="@SitePages.NewsIndex" class="link-info">К другим новостям</a>
</div>