@model IQueryable<Pnprpg.DomainService.Models.DonationEditModel>
@{
    ViewBag.Title = "Пожертвования";
}

@using (Html.BeginForm("Edit", "Donation", FormMethod.Post, new { @class = "col-md-6" }))
{
    @Html.AntiForgeryToken()

    <table class="table table-striped">
        <tr>
            <th class="w-50">Название</th>
            <th class="w-25">Собрано</th>
            <th class="w-25">Цель</th>
        </tr>
        @Html.EditorForModel()
    </table>
    <input class="btn btn-success" type="submit" value="Сохранить" />
}