@page
@using Pnprpg.WebCore.Helpers
@model IndexModel
@{
    ViewData["Title"] = "Редактор атрибутов";
}

<div class="col-12 mb-3">
    <a class="btn btn-success" href="@Url.CustomPage(SitePages.MajorEditorAbilitiesEdit)">Добавить новый</a>
</div>

<div class="mvc-grid" data-source-url="@Url.CustomPage(SitePages.MajorEditorAbilitiesIndex, "Grid")"></div>

<form action="@Url.CustomPage(SitePages.MajorEditorAbilitiesIndex, "Delete")" method="post" asp-antiforgery="true" id="deleteForm">
    @Html.Hidden("ModelId")
</form>