@using Pnprpg.DomainService.Enums
@using Pnprpg.DomainService.Models.Perks
@using Pnprpg.DomainService.Models.Requirements
@model Pnprpg.DomainService.Models.Requirements.RequirementSelectModel
@{
    var prefix = $"{nameof(PerkEditModel.RequirementsForPerks)}[{Model.Position}].";
}
<div class="input-group mt-2" id="req_@Model.Position">
    @Html.DropDownList($"{prefix}{nameof(RequirementCommonModel.Type)}", Model.Requirements, null,
        new
        {
            @class = "form-control ajax-dropdown",
            data_url = Url.Action("RequirementSelectModel", "Editor", new { Model.Position }),
            data_container = $"req_{Model.Position}",
            data_style = "replace"
        })
    @if (Model.Selected.Type == RequirementType.Ability)
    {
        @Html.DropDownList($"{prefix}{nameof(RequirementCommonModel.AbilityId)}", Model.Values, null,
            new { @class = "form-control" })
        @Html.TextBox($"{prefix}{nameof(RequirementCommonModel.Value)}", Model.Selected.Value,
            new { @class = "form-control", type = "number" })
    }
    else
    {
        @Html.DropDownList($"{prefix}{nameof(RequirementCommonModel.Value)}", Model.Values, null,
            new { @class = "form-control" })
    }
    <div class="input-group-append">
        <button class="btn btn-danger clear-btn" data-container="req_@Model.Position" type="button">
            X
        </button>
    </div>
</div>