@using Pnprpg.DomainService.Enums
@model Pnprpg.DomainService.Models.Requirements.RequirementSelectModel
<div class="input-group mt-2" id="req_@Model.Position">
    @Html.DropDownList($"Requirements[{Model.Position}].type", Model.Requirements, null,
        new
        {
            @class = "form-control ajax-dropdown",
            data_url = Url.Action("RequirementSelectModel", "Editor", new { Model.Position }),
            data_container = $"req_{Model.Position}",
            data_style = "replace"
        })
    @if (Model.Selected.Type == RequirementType.Ability)
    {
        @Html.DropDownList($"Requirements[{Model.Position}].statId", Model.Values, null,
            new { @class = "form-control" })
        @Html.TextBox($"Requirements[{Model.Position}].value", Model.Selected.Value,
            new { @class = "form-control", @type = "number" })
    }
    else
    {
        @Html.DropDownList($"Requirements[{Model.Position}].value", Model.Values, null,
            new { @class = "form-control" })
    }
    <div class="input-group-append">
        <button class="btn btn-danger clear-btn" data-container="req_@Model.Position" type="button">
            X
        </button>
    </div>
</div>