@{
    ViewBag.Title = "Редактор бонусов";
}

<div class="col-12 my-2">@Html.ActionLink("Добавить новый", "EditBonus", null, new { @class = "btn btn-success" })</div>

@Html.AjaxGrid(Url.Action("BonusesGrid", "Editor"))

@using (Html.BeginForm("DeleteBonus", "Editor", FormMethod.Post, new { id = "deleteForm" }))
{
    @Html.AntiForgeryToken();
    @Html.Hidden("ModelId")
}