@{
    ViewBag.Title = "Редактор способностей";
}
<div class="col-12 my-2">@Html.ActionLink("Добавить новую", "EditPerk", null, new { @class = "btn btn-success" })</div>

@Html.AjaxGrid(Url.Action("PerksGrid", "Editor"))

@using(Html.BeginForm("DeletePerk", "Editor", FormMethod.Post, new { id = "deleteForm"}))
{
    @Html.AntiForgeryToken();
    @Html.Hidden("ModelId")
}