@{
    ViewBag.Title = "Редактор рас";
}

<div class="col-12 my-2">@Html.ActionLink("Добавить новую", "EditRace", null, new { @class = "btn btn-success" })</div>

@Html.AjaxGrid(Url.Action("RacesGrid"))

@using (Html.BeginForm("DeleteRace", "Editor", FormMethod.Post, new { id = "deleteForm" }))
{
    @Html.AntiForgeryToken();
    @Html.Hidden("ModelId")
}