@{
    ViewBag.Title = "Редактор навыков";
}

<div class="col-12 my-2">@Html.ActionLink("Добавить новый", "EditSkill", null, new { @class = "btn btn-success" })</div>

@Html.AjaxGrid(Url.Action("SkillsGrid", "Editor"))

@using (Html.BeginForm("DeleteSkill", "Editor", FormMethod.Post, new { id = "deleteForm" }))
{
    @Html.AntiForgeryToken();
    @Html.Hidden("ModelId")
}