@model Pnprpg.DomainService.Models.CreatureViewModel

<div class="card smallForSmall">
    <div class="card-header d-sm-flex justify-content-between px-4 py-3 h4">
        <div>@Model.Name</div>
        <div>@Model.Level</div>
        <div>@Model.Group</div>
    </div>
    <div class="card-body text-left px-3">
        @Model.Description
    </div>
</div>