@using Pnprpg.DomainService.Models;
@model NumericFormQueryItem

<div class="col-md-6 mx-auto">
    <div class="input-group closeable pt-2">
        @Html.Hidden("Abilities.Index", Model.Position, new { @class = "index" })
        @Html.DropDownList($"Abilities[{Model.Position}].Id", Model.GetSelectList(), null, new { @class = "form-select w-25 py-0", id = "" })
        @Html.TextBox($"Abilities[{Model.Position}].Value", Model.Value, new { @class = "form-control py-0", type = "number" })
        <button class="btn btn-danger clear-btn py-0" type="button">
            X
        </button>
    </div>
</div>