@using Pnprpg.DomainService.Models;
@model FormQueryItem

<div class="col-md-6 mx-auto">
    <div class="input-group pt-2 closeable">
        @Html.Hidden("Bonuses.Index", Model.Position, new { @class = "index" })
        @Html.DropDownList($"Bonuses[{Model.Position}]", Model.GetSelectList(), null, new { @class = "form-select", id = "" })
        <button class="btn btn-danger clear-btn" type="button">
            X
        </button>
    </div>
</div>