@using Pnprpg.DomainService.Models;
@model FormQueryItem

<div class="input-group mt-2 closeable">
    @Html.Hidden("Bonuses.Index", Model.Position, new {@class = "index"})
    @Html.DropDownList($"Bonuses[{Model.Position}]", Model.GetSelectList(), null, new {@class = "form-control", id = ""})
    <div class="input-group-append">
        <button class="btn btn-danger clear-btn" type="button">
            X
        </button>
    </div>
</div>