@{
    ViewBag.Title = "Pnp rpg omg";
    Layout = "~/Views/Shared/_LayoutIntro.cshtml";
}
<div class="col-lg-3 col-5 card p-0 m-2">
    <img class="card-img-top" src="~/Content/images/generator.jpg" alt="rulebook" />
    <div class="card-footer px-0">
        <a class="stretched-link smallForSmall" href="@Url.Action("Index","HeroGen")">Создать персонажа</a>
    </div>
</div>
<div class="col-lg-3 col-5 card p-0 m-2">
    <img class="card-img-top" src="~/Content/images/schools.jpg" alt="rulebook" />
    <div class="card-footer">
        <a class="stretched-link smallForSmall" href="@Url.Action("Magic", "Home")">Школы магии</a>
    </div>
</div>
<div class="col-lg-3 col-5 card p-0 m-2">
    <img class="card-img-top" src="~/Content/images/sheet.jpg" alt="rulebook" />
    <div class="card-footer px-0">
        <a class="stretched-link smallForSmall" href="https://drive.google.com/open?id=18Kov_H0VPz3TDMEUXqxRFk-3COMpMwxa">Лист персонажа</a>
    </div>
</div>
<div class="col-lg-3 col-5 card p-0 m-2">
    <img class="card-img-top" src="~/Content/images/rulebook.jpg" alt="rulebook" />
    <div class="card-footer">
        <a class="stretched-link smallForSmall" href="https://drive.google.com/open?id=1YbfG2wNY6nx8kMOfdwkwISG2VxLooKEq">Книга игрока</a>
    </div>
</div>
<div class="col-lg-3 col-5 card p-0 m-2">
    <img class="card-img-top" src="~/Content/images/skills.png" alt="Skills" />
    <div class="card-footer">
        <a class="stretched-link smallForSmall" href="@Url.Action("Skills","HeroGen")">Навыки</a>
    </div>
</div>
<div class="col-lg-3 col-5 card p-0 m-2">
    <img class="card-img-top" src="~/Content/images/alchemy.jpg" alt="Alchemy" />
    <div class="card-footer">
        <a class="stretched-link smallForSmall" href="@Url.Action("Index","Alchemy")">Алхимия</a>
    </div>
</div>