@{
    ViewBag.Title = "Pnp rpg omg";
    Layout = "../Shared/_LayoutIntro.cshtml";
}
<div class="col-md-5 col-8 card p-0 mt-3">
    <div class="card-body"></div>
    <div class="card-footer">
        <a class="stretched-link" href="@Url.Action("Index","HeroGen")">Hero generator</a>
    </div>
</div>
<div class="col-md-5 col-8 card p-0 mt-3">
    <div class="card-body"></div>
    <div class="card-footer">Character sheet</div>
</div>
<div class="col-md-5 col-8 card p-0 mt-3">
    <div class="card-body"></div>
    <div class="card-footer">Player rulebook</div>
</div>