@using System.Web.Mvc.Html
@model Pnprpg.DomainService.Models.UpgradeableGroup<Pnprpg.DomainService.Models.AbilityModel>
@foreach(var ability in Model.List)
{
    <div class="col-md-3 col-6">
        <div class="row border">
            @Html.DisplayFor(x => ability, "Ability")
        </div>
    </div>
}