<div class="h" style="text-align: center; padding-top: 10rem; text-transform: uppercase">
    <div style="font-size: 3rem; font-weight: bold;">
        Система генерации настольных приключений
        <br /><br /><br /><br />Книга игрока
    </div>
    <div class="break"></div>
    <h1 style="padding-top: 2rem">Оглавление</h1>
</div>

<br />
<div style="font-size: 20px">
    <a href="#p1" style="font-weight: bold">Создание персонажа <span style="float: right">2</span></a>
    <a href="#b1">Расы <span style="float: right">2</span></a>
    <a href="#b2">Классы <span style="float: right">5</span></a>
    <a href="#p2" style="font-weight: bold">Магия <span style="float: right">2</span></a>
    <a href="#p3" style="font-weight: bold">Алхимия <span style="float: right">2</span></a>
    <a href="#p4" style="font-weight: bold">Ведение боя <span style="float: right">2</span></a>
</div>

<div class="break"></div>