//bootstrap
@each $color, $value in $theme-colors {
    .bg-#{$color} {
        color: $white;
    }
}

.card {
    padding: 0;

    .card-body {
        padding-left: .1rem;
        padding-right: .1rem;
    }
}

.right{
    right: 0;
}

a {
    color: black;

    &:hover, &:active, &.active {
        color: black;
        text-decoration: none;
    }
}

//classes
.carousel-indicators {
    position: relative;
    margin: 0;
    li{
        border-radius: 50%;
    }
}

@include media-breakpoint-down(sm) {
    .smallForSmall {
        font-size: 80%;
    }
}

.pointer{
    cursor: pointer;
}

.big-badge{
    font-size: 100%;
    min-width: 20px;
}

.fw-2-chars {
    width: 32px;
}

.mw-160{
    min-width: 160px;
}
.mw-260{
    min-width: 260px;
}

form{
    .row{
        margin-bottom: 1rem;
    }
}

.circle{
    border-radius: 50%;
}

.popover{
    border: 2px solid black;
}

@include media-breakpoint-down(sm) {
    select.form-control {
        background-image: none;
    }
}

.field-validation-error, .validation-summary-errors {
    color: $danger;
}

.trumbowyg-box{
    margin: 0;
}

.trumbowyg-editor{
    padding: .5rem;
}