@model int
@{
    var blockClass = ViewData["blockClass"];
    var fieldClass = ViewData["fieldClass"];
}
<div class="@blockClass col-12">
    <div class="text-left p-1">
        @Html.DisplayNameFor(x => x)
    </div>
    @Html.TextBoxFor(x => x, new { @class = $"form-control {fieldClass}", type = "number"})
    @Html.ValidationMessageFor(x => x)
</div>