@using Boot.Helpers
@model List<Boot.Models.HeroStat>
@foreach(var stat in Model)
{
    <div class="col-md-3 col-6">
        <div class="row border">
            @Html.Partial("_HeroStatPartial", stat)
        </div>
    </div>
}