@using System.Web.Mvc.Html
@model Pnprpg.DomainService.Models.HeroModel
<div class="col-12 h4 my-2">
    @($"{Model.Race.Name} {Model.Name}")
</div>
@{
    Html.RenderPartial("HeroInfo/_Abilities", Model.Abilities);
    Html.RenderPartial("HeroInfo/_Stats", Model);
}
<div class="col-md-6 col-12 card">
    <div class="h5 card-header">Особенности</div>
    <div class="card-body">
        <ul>
            @foreach (var trait in Model.Traits.List)
            {
                <li>@trait.Name</li>
            }
        </ul>
        @if (!Model.Traits.List.Any())
        {
            <div class="font-italic">Нет</div>
        }
    </div>
</div>
<div class="col-md-6 col-12 card">
    <div class="h5 card-header">Навыки</div>
    <div class="card-body">
        <ul>
            @foreach (var s in Model.Skills.List)
            {
                <li>@s</li>
            }
        </ul>
        @if (!Model.Skills.List.Any())
        {
            <div class="font-italic">Нет</div>
        }
    </div>
</div>