@using System.Web.Mvc.Html
@using Pnprpg.DomainService.Enums
@model Pnprpg.DomainService.Models.HeroModel
@{
    var traits = Model.Traits.List.Select(x => x.Name).ToList();
    var final = Model.MaxStatus == HeroGenStatus.Result;
    var skills = Model.Skills.List.Where(x => x.Level > 0).ToList();
    if (final)
    {
        traits.AddRange(Model.Race.Bonuses.Select(x => x.Name).ToList());
        traits.AddRange(Model.Branches.List.SelectMany(x => x.Bonuses).Select(x => x.Name).ToList());
    }

    Html.RenderAction("Wizard", "HeroGen", new { status = HeroGenStatus.Result });
}
<div class="col-12 h4 my-2">
    @($"{Model.Race.Name} {string.Join(", ", Model.Branches.List.Select(x => x.Name))} {Model.Name}")
</div>
@{
    Html.RenderPartial("HeroInfo/_Abilities", Model.Abilities);
    Html.RenderPartial("HeroInfo/_Stats", Model);
}
<div class="col-12"></div>
<div class="col-lg-4 col-sm-6 col-12 card rounded-0">
    <div class="h5 card-header rounded-0 bg-dark text-light">Особенности</div>
    <div class="card-body py-1">
        @foreach (var trait in traits)
        {
            <div>@trait</div>
        }
        @if (!Model.Traits.List.Any())
        {
            <div class="font-italic">Нет</div>
        }
    </div>
</div>
<div class="col-lg-4 col-sm-6 col-12 card rounded-0">
    <div class="h5 card-header rounded-0 bg-dark text-light">Навыки</div>
    <div class="card-body py-1">
        @foreach (var s in skills)
        {
            <div>@s</div>
        }
        @if (!skills.Any())
        {
            <div class="font-italic">Нет</div>
        }
    </div>
</div>

@using (Html.BeginForm("Save", "HeroGen", null, FormMethod.Post, new { target = "_blank", @class = "col-md-6 col-12 my-3 p-0" }))
{
    <div class="input-group mb-3">
        <div class="input-group-text">Имя</div>
        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
    </div>
    <button type="submit" class="btn btn-primary">Скачать</button>
}
