@using Pnprpg.DomainService.Enums
@model Pnprpg.DomainService.Models.HeroModel

@Html.Partial("_HeroInfo")

<div class="col-12 col-md-8 col-lg-6 my-2">
    @if (User.Identity.IsAuthenticated)
    {
        using (Ajax.BeginForm("SaveHero", null,
            new AjaxOptions { UpdateTargetId = "main", HttpMethod = "POST", OnSuccess = "AjaxJs.formRedirect" },
            new { @class = "row" }))
        {
            @Html.Label("name", "Имя персонажа", new { @class = "col-sm-4 col" })
            <div class="col-sm-8">
                @Html.TextBox("name", "", new { @class = "form-control" })
            </div>
            <div class="col my-2"><button class="btn btn-success mw-160">Сохранить</button></div>
        }
    }
    else
    {
        <a href="@Url.Action("Index", "Account")">
            Войдите, чтобы сохранить персонажа
        </a>
    }
</div>