@using Pnprpg.DomainService.Enums
@model HeroGenStatus
@{
    var i = 0;
    var current = (HeroGenStatus) ViewBag.Current;
    var max = (HeroGenStatus)Math.Max((int)current, (int)Model);
    var list = (HeroGenStatus[])Enum.GetValues(typeof(HeroGenStatus));
}
<div class="col-12 my-3 d-flex justify-content-center">
    @foreach (var x in list)
    {
        if (i > 0)
        {
            <div class="bg-@(x > max ? "secondary" : "success") my-auto h-25">
                &nbsp;<span class="d-sm-inline d-none px-3">&nbsp;</span>
            </div>
        }
        <a class="circle btn btn-@(current == x ? "primary" : x > max ? "secondary" : "success") font-weight-bold" 
           href="@(x <= Model ? Url.Action("Index", "HeroGen", new {Status = x}) : "")">
            @(++i)
        </a>
    }
</div>