@{
    ViewBag.Title = "Генератор персонажа";
}

    <div id="heroGen" class="col-12">
        <div v-html="stageContent"></div>
    </div>

@section Scripts{
    @Scripts.Render("~/vue/herogen")
<script>
    heroGenInit({
        2: "@Url.Action("GetStats", "HeroGen")",
        3: "@Url.Action("GetStats", "HeroGen")",
        4: "@Url.Action("GetStats", "HeroGen")",
    })</script>
}