@using Pnprpg.DomainService.Enums
@model Pnprpg.DomainService.Models.HeroModel
@{
    ViewBag.Title = "Генератор персонажа";
    var urls = new string[Enum.GetValues(typeof(HeroGenStatus)).Length];
    urls[(int) HeroGenStatus.Race] = Url.Action("Races", "BackStory");
    urls[(int) HeroGenStatus.Branch] = Url.Action("Branches", "BackStory");
    urls[(int) HeroGenStatus.Traits] = Url.Action("Traits", "BackStory");
    urls[(int) HeroGenStatus.Abilities] = Url.Action("AbilityEdit", "Ability");
    urls[(int) HeroGenStatus.Result] = Url.Action("Result", "HeroGen");
}

<div class="text-center spinner-border"></div>

@section scripts{<script>AjaxJs.load('@urls[(int)ViewBag.Status]');</script>}
