@using Pnprpg.DomainService.Enums
@model Pnprpg.DomainService.Models.HeroModel
@{
    ViewBag.Title = "Генератор персонажа";
    var urls = new string[Enum.GetValues(typeof(HeroGenStage)).Length];
    urls[(int) HeroGenStage.Race] = Url.Action("Races", "BackStory");
    urls[(int) HeroGenStage.Branch] = Url.Action("Branches", "BackStory");
    urls[(int) HeroGenStage.Traits] = Url.Action("Traits", "BackStory");
    urls[(int) HeroGenStage.Abilities] = Url.Action("AbilityEdit", "Ability");
    urls[(int) HeroGenStage.Result] = Url.Action("Result", "HeroGen");
}

<div class="text-center spinner-border"></div>

@section scripts{<script>AjaxJs.load('@urls[(int)ViewBag.Status]');</script>}
