<li class="nav-item active mx-2 dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        Админ
    </a>

    <div class="dropdown-menu dropdown-menu-right">
        <a class="nav-link" asp-page="@SitePages.AdminUsersEdit">Настройка ролей</a>
        <a class="nav-link" href="@Url.Action("UpdateBook", "Book")">Обновить книгу</a>
        <a class="nav-link" asp-page="@SitePages.AdminNewsEdit">Добавить новость</a>
    </div>
</li>