@using Pnprpg.WebCore.Helpers
<nav class="navbar sticky-top navbar-expand-md navbar-dark px-3">
    <div class="container">
        <a class="navbar-brand order-0" href="@Url.CustomPage(SitePages.Index)">
            <i class="fas fa-home"></i>
        </a>

        <a href="https://vk.com/dndotvlada" class="navbar-brand order-2">
            <i class="fa-vk fab"></i>
        </a>
        <a href="@Url.CustomPage(SitePages.DonationIndex)" class="navbar-brand order-3">
            <i class="fa-donate fas"></i>
        </a>
        @if (!User.Identity.IsAuthenticated)
        {
            <a href="@Url.CustomPage(SitePages.AccountSignIn)" class="navbar-brand order-4">
                <i class="fa-sign-in-alt fas"></i>
            </a>
        }
        else
        {
            <div class="navbar-brand d-flex order-4">
                <form method="post" action="@Url.CustomPage(SitePages.AccountSignOut)" asp-antiforgery="true" id="logoutForm"></form>
                <button class="btn p-0 border-0" type="submit" form="logoutForm">
                    <i class="fa-sign-out-alt fas text-white"></i>
                </button>
            </div>
        }

        @{
            await Html.RenderPartialAsync("Navigation/_MajorHeader");
        }
    </div>
</nav>
