@page
@using Pnprpg.WebCore.Helpers
@model IndexModel
@{
    ViewData["Title"] = "Редактор оружия";
}

<div class="col-12 mb-3">
    <a class="btn btn-success" href="@Url.CustomPage(SitePages.MajorEditorWeaponsEdit)">Добавить новое</a>
</div>

<div class="mvc-grid" data-source-url="@Url.CustomPage(SitePages.MajorEditorWeaponsIndex, "Grid")"></div>

<form action="@Url.CustomPage(SitePages.MajorEditorWeaponsIndex, "Delete")" asp-antiforgery="true" 
      method="post" id="deleteForm">
    @Html.Hidden("ModelId")
</form>