@using Pnprpg.DomainService.Models;
@using Pnprpg.WebCore.Helpers
@model NumericFormQueryItem

<div class="col-md-6 mx-auto">
    <div class="input-group closeable pt-3">
        @Html.Hidden("Input.Abilities.Index", Model.Position, new { @class = "index" })
        @Html.DropDownList($"Input.Abilities[{Model.Position}].Id", SelectableHelper.GetSelectList(Model), null, new { @class = "form-select w-25", id = "" })
        @Html.TextBox($"Input.Abilities[{Model.Position}].Value", Model.Value, new { @class = "form-control", type = "number" })
        <button class="btn btn-danger clear-btn" type="button">
            X
        </button>
    </div>
</div>