@using Boot.Enums
@using Boot.Helpers
@using Boot.Models
@model Boot.Models.HeroModel
@{
    var path = Server.MapPath($"~/App_Data/{Files.Skills.Description()}"); 
    for (var i = 0; i < Model.Stats.Length; i++)
    {
        var a = (StatType)i;
        <div class="col-md-3 col-6 card p-0">
            <div class="card-header bg-@a.Color()">@a.Translation()</div>
            <div class="card-body">@Model.Stats[i]</div>
        </div>
    }
}
<div class="col-12">
    <div id="skillsCarousel" class="carousel row justify-content-center">
        <div class="carousel-inner col-4">
            @for (var i = 0; i < 4; i++)
            {
                <div class="carousel-item @(i==0 ? "active" : "")">
                    @Html.Partial("_SkillGroup", new SkillGroupModel(i, path))
                </div>
            }
        </div>
        <div class="col-1 order-first">
            <a class="carousel-control-prev order-first" href="#skillsCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-1">
            <a class="carousel-control-next" href="#skillsCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
