@model Boot.Models.HeroModel
@{
    Html.RenderPartial("_FirstStats", Model.Stats.ToList());
}
<div class="col-12" id="skillList">
    @{ Html.RenderAction("SkillGroupList", new { editable = true });}
</div>