@using Boot.Enums
@using Boot.Helpers
@model Boot.Models.HeroModel
@{
    for (var i = 0; i < Model.Stats.Length; i++)
    {
        var a = (StatType)i;
        <div class="col-md-3 col-6 card p-0">
            <div class="card-header bg-@a.Color()">@a.Translation()</div>
            <div class="card-body">@Model.Stats[i]</div>
        </div>
    }
}
<div class="col-12" id="skillList">
    @{ Html.RenderAction("SkillGroupList", new {editable = true});}
</div>