@using Boot.Models
@model HeroModel
@{
    ViewBag.Title = "Навыки";
}
<div class="col-12">
    @{ Html.RenderAction("SkillGroupList", new {editable = false});}
</div>
@section scripts{
    <script>$(function () { MainJs.init(); });</script>
}
