@using Boot.Models
@model HeroModel
@{
    ViewBag.Title = "Навыки";
}
<div class="col-12">
    @Html.Partial("_SkillList", false)
</div>
@section scripts{
    <script>$(function () { MainJs.init(); });</script>
}
