@model Pnprpg.DomainService.Models.Magic.SpellModel

<button class="btn btn-primary ajax-btn my-3" data-container="randomSpell" data-url="@Url.Action("RandomSpell")">
    Случайный свиток
</button>
<br />
@if (!string.IsNullOrEmpty(Model.Name))
{
    <div class="h4 p-2 rounded border-big mw-260 d-inline-block" style="color: #@(Model.Color)">
        @Model.Name
    </div>
}