@using Pnprpg.DomainService.Models
@{
    ViewBag.Title = "Алхимия";
    var reagents = (List<SelectListItem>)ViewBag.Reagents;
    var processes = (List<SelectListItem>)ViewBag.Processes;
}

@using (Ajax.BeginForm("AlchemyResult", null,
    new AjaxOptions { UpdateTargetId = "alchemyResult", OnBegin = "MainJs.toggleLoading", OnSuccess = "MainJs.toggleLoading" },
    new { @class = "col-lg-8 col-12 mt-md-2" }))
{
    <div class="row">
        <label class="col-sm-2 col-form-label">Реагент</label>
        <div class="col">
            @Html.DropDownList(nameof(ReactionModel.Reagent), reagents, new { @class = "form-control initial-letter" })
        </div>
        <label class="col-sm-2 col-form-label">Процесс</label>
        <div class="col">
            @Html.DropDownList(nameof(ReactionModel.Process), processes, new { @class = "form-control initial-letter" })
        </div>
        <div class="col-12 my-2">
            <button type="submit" class="btn btn-success my-1 mw-160">Сотворить</button>
            <button class="btn btn-primary ajax-btn my-1 mw-160" data-container="alchemyResult" data-url="@Url.Action("Random")" type="button">
                Случайное зелье
            </button>
        </div>
    </div>
}
<div class="col-12" id="alchemyResult"></div>