@page
@using Pnprpg.DomainService.Enums
@using Pnprpg.WebCore.Helpers
@model IndexModel
@{
    ViewData["Title"] = "Листы персонажа";
}

<div>
    <a class="btn btn-info mw-260 mt-3" href="@Url.CustomPage(SitePages.MajorPdfHeroSheet)" target="_blank">
        Основной лист персонажа
    </a>
    @if (Model.Major == MajorType.Fantasy)
    {
        <br />
        <a class="btn btn-info mw-260 mt-3" href="@Url.CustomPage(SitePages.MajorPdfMagicSheet)" target="_blank">
            Лист заклинаний
        </a>
    }
</div>