@using Pnprpg.DomainService.Enums
@using Pnprpg.WebCore.Helpers
@model (HeroGenStage, HeroGenStage)
@{
    Layout = null;
    var i = 0;
    var current = Model.Item1;
    var max = Model.Item2;
    var list = (HeroGenStage[])Enum.GetValues(typeof(HeroGenStage));
}
<div class="col-12 mb-3 d-flex justify-content-center">
    @foreach (var x in list)
    {
        if (i > 0)
        {
            <div class="bg-@(x > max ? "secondary" : "success") my-auto h-25 mx-n1">
                <span class="px-md-4 px-3"></span>
            </div>
        }
        <a class="circle btn btn-@(current == x ? "primary" : x > max ? "secondary" : "success") font-weight-bold font-monospace px-3 z-2"
           asp-page="@(x <= max ? StageHelper.GetPage(x) : "")">
            @(++i)
        </a>
    }
</div>