@model List<Boot.Models.JsonModels.Room>
@{
    ViewBag.Title = "Комнаты";
}
<div class="h5 m-2 col-12">Свободные столы</div>
@if (!Model.Any())
{
    <div class="font-italic col-12">Нет</div>
}
@foreach (var room in Model)
{
    <div class="card col-6 col-md-4">
        <div class="card-header">@room.Name</div>
        <div class="card-body">
            <div>@(room.Date.ToLongDateString())</div>
            <div>Игроков: @room.Players</div>
        </div>
        <div class="card-footer">
            <a class="btn btn-success" href="@Url.Action("Join", new{id = room.Id})">Записаться</a>
        </div>
    </div>
}