@using Pnprpg.DomainService.Helpers
@model List<Pnprpg.DomainService.Models.AbilityDescriptionModel>

<h5>Атрибуты</h5>

<p>
    Это основные параметры персонажа, которые определяют его личность.
    Они меняются с уровнем, от употребления различных веществ и от ношения особого снаряжения.
</p>

<table class="table table-bordered">
    <tr>
        <th>Название</th>
        <th>Значение</th>
        <th>Влияние</th>
    </tr>
    @foreach (var stat in Model)
    {
        <tr>
            <td>@stat.Type.Description() - @stat.Name</td>
            <td>@stat.Description</td>
            <td>@stat.Influence</td>
        </tr>
    }
</table>
<p>
    Каждый атрибут имеет значение от 1 до 20 и изначально для разумных существ равен 8.
    Игрок имеет также 8 свободных очков, которые он может распределить между атрибутами, но не более 4 в один.
    Некоторые бонусы могут дополнительно снизить или повысить атрибуты.
</p>
<h5>Характеристики</h5>
<div>
    <b>Уровень урона</b> отображает количество кубиков, бросаемых при нанесении урона. <br /> Каждый кубик прибавляет от 0 до 3 единиц урона.
</div>
<div>
    <b>Грузоподъёмность</b> = Сила^2 / 10 <br />
    Отображает вес груза в килограммах, который персонаж может нести
</div>
<div>
    <b>Уровень брони</b> определяется надетым снаряжением и базовой защитой. Каждая часть тела имеет свою защиту.
    За каждый уровень брони поглощается 1 единица урона.
</div>
<div>
    <b>Здоровье</b> = Выносливость + Уровень/2 + 3 <br />
    Отображает количество единиц урона, которые персонаж может получить пока не умрёт.
</div>
<div>
    <b>Мана</b> = Интеллект + Уровень - 4 <br />
    Отображает количество единиц магической энергии, которые могут быть потрачены на сотворение заклинаний
</div>
<div>
    <b>Запас сил</b> = Выносливость/2 + Уровень*2 <br />
    Отображает количество единиц физической энергии, которые могут быть потрачены на применение боевых приёмов
</div>
<div>
    <b>Восприятие</b> = Интеллект + Уровень - 8 <br />
    Отображает способность персонажа замечать опасные места и выслеживать противников.
</div>
<div>
    <b>Харизма</b> = 10 <br />
    Отображает привлекательность персонажа, умение расположить к себе собеседника, а также умение сопротивляться чужим манипуляциям.
</div>

<h5>Резерв</h5>
<p>
    Характеристики могут быть зарезервированы определёнными условиями. Это понижает её максимальное значение.
    Заклинание уменьшает максимальную ману во время использования, а надетая тяжёлая броня - запас сил.
</p>
<div class="break"></div>