@model List<Pnprpg.DomainService.Models.RaceViewModel>
<div style="text-align: center">
    <h1 id="p1">Часть 1 Создание персонажа</h1>
</div>
<p>
    В настольной ролевой игре вы создаёте уникального персонажа со своими преимуществами и недостатками. История определяет его принципы и ориентиры,
    а атрибуты - способности к решению определённых проблем. Данная система предназначена в первую очередь для командной игры, где игроки персонажей по очереди
    проявляют себя в разных ситуациях. И там, где один бы не справился, ему приходит на помощь другой.
</p>
<p>
    Первым этапом создания персонажа является выбор его расы.
</p>

<br />

<h5 id="b1">Расы</h5>
<p>
    В волшебном мире бок о бок соседствуют существа разных размеров, цветов и мировоззрений. Существа одной расы обладают общими физиологическими особенностями,
    культурой и зачастую идеологией. Но это совсем не значит, что все эльфы должны быть высокомерными, а орки - грубыми. Стоит помнить, что не
    каждая разумная раса доступна игроку. Вы, конечно, можете играть за собаку или крысу, но не гарантируем, что это будет увлекательно.
</p>

@{
    var i = 0;
}
@foreach (var race in Model)
{
    i++;
    <br />
    <h6>@race.Name</h6>
    @Html.Raw(race.Description)
    foreach (var bonus in race.Bonuses)
    {
        <p>
            <b>@bonus.Name</b><br />
            @bonus.Description
        </p>
    }
    if (i % 3 == 1)
    {
        <div class="break"></div>
    }
}
<div class="break"></div>