@{
    ViewBag.Title = "Алхимия";
    var reagents = (List<SelectListItem>)ViewBag.Reagents;
    var processes = (List<SelectListItem>)ViewBag.Processes;
}

@using (Ajax.BeginForm("AlchemyResult", null, 
    new AjaxOptions { UpdateTargetId = "alchemyResult", OnBegin = "MainJs.toggleLoading", OnSuccess = "MainJs.toggleLoading" },
    new { @class = "col-lg-8 col-12 mt-md-2" }))
{
    <div class="row">
        <label class="col-sm-2 col-form-label">Реагент</label>
        <div class="col">
            @Html.DropDownList("reagent", reagents, new { @class = "form-control initial-letter" })
        </div>
        <label class="col-sm-2 col-form-label">Процесс</label>
        <div class="col">
            @Html.DropDownList("process", processes, new { @class = "form-control initial-letter" })
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-success my-3">Сотворить</button>
        </div>
    </div>
}
<div class="col-12" id="alchemyResult"></div>